<div class="desc">
    <h1>ember-format-json
        <a href="https://travis-ci.org/wecatch/ember-format-json">
            <img src="https://travis-ci.org/wecatch/ember-format-json.svg?branch=master" alt="">
        </a>
    </h1>
    <p>
        Ember component wrapper for [json-formatter-js](https://github.com/mohsen1/json-formatter-js)
    </p>
    <a href="https://github.com/wecatch/ember-format-json">Github</a>
    <a href="http://wecatch.me">Wecatch</a>
</div>
<div class="code">
    <h1>How to use</h1>
    <code>
        <pre>\{{format-json value=value}}</pre>
    </code>
</div>

{{format-json value=value}}